[user]
	email = 244752705@qq.com
	name = hexi519
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[alias]
	a = add .
	co = checkout
	br = branch
	ci = commit -m
	st = status
	line = log --oneline

[core]
	editor = vim
